@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.calculator-content {
  width: 900px;
}

.h-350 {
  height: 350px;
}

.header-picture {
  max-width: 900px;
}

@media screen and (max-width: 600px) {
  .header-picture { 
    width: 100%;
  }
}

.inputs-container {
  width: 42%;
}

.recommended-container { 
  width: 400px;
  height: 570px;
}

.required-storage {
  top: 65px;
  left: 114px;
  width: 200px;
}

.recommended-single {
  top: 180px;
  left: 106px
}

.bs-logo {
  bottom: 100px;
  left: 70px;
}

.recommended-double {
  top: 181px;
  left: 93px;
}

.recommended-with-multiplier {
  top: 168px;
  left: 93px;
}

@media screen and (max-width: 500px) {
  .inputs-container {
    width: 100%;
  }

  .calculator-content {
    max-width: 100%;
    width: 100%;
  }

  .recommended-container {
    width: 350px;
    height: 498.75px;
  }

  .required-storage {
    top: 42px;
    left: 85px;
  }

  .recommended-single {
    top: 140px;
    left: 80px;
  }

  .recommended-double {
    top: 145px;
    left: 68px;
  }
  
  .recommended-with-multiplier {
    top: 135px;
    left: 68px;
  }

  .bs-logo {
    bottom: 75px;
    left: 40px;
  }
}